<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

<form th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" />
    <!--<td th:text="${user.firstName} ${user.lastName}"/>-->
    <div th:if="${session.user}" >
        <p th:text="${session.user.firstName}"></p>
    </div>
</form>

<div class="row border rounded m-3 p-3">
    <th:block th:each="doc : ${documents}">
        <div class="col">
            <div>
                <img th:src="@{/img/document.png}" width="50"/>
            </div>
            <a th:text="${doc.name}" th:href="@{/download(id=${doc.id})}"></a>
            <a th:text="${doc.student.user.firstName} "  ></a>
            <a th:text="${doc.student.user.lastName} "  ></a>

<!--            <a th:text="${doc.students.id}"></a>-->
        </div>


    </th:block>
</div>
</body>
</html>